@import "tailwindcss";

:root {
  --background: #FCFAF4;
  --foreground: #FCFAF4;
}

.primary-color {
  color: #00355A;
}
.bg-primary-color {
  background-color: #00355A;
}
.background-color {
    background-color: #FCFAF4;
}
.text-color {
    color: #000000;
}

.additional-color {
    color: #F08400;
}
.bg-additional-color {
    background-color: #F08400;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
    font-family: 'TamdanRegular';
    src: url('/fonts/Barlow-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'TamdanBold';
    src: url('/fonts/Barlow-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TamdanAddition';
  src: url('/fonts/Aleo-Light.ttf') format('truetype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font: 16px TamdanRegular;
}

.font-tamdan-placeholder::placeholder {
  font-family: TamdanRegular;
  font-size: 16px;
}

.font-tamdan-bold {
  font: 24px TamdanBold;
}

.loader {
  border-radius: 50%;
}

