@import "tailwindcss";

:root {
  --background: #FCFAF4;
  --foreground: #FCFAF4;
}

.primary-color {
  color: #00355A;
}
.bg-primary-color {
  background-color: #00355A;
}
.background-color {
    background-color: #FCFAF4;
}
.text-color {
    color: #000000;
}

.additional-color {
    color: #F08400;
}
.bg-additional-color {
    background-color: #F08400;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
    font-family: 'TamdanRegular';
    src: url('/public/fonts/Barlow-Regular.ttf') format('ttf');
    font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
    font: 16px TamdanRegular;
}
